<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to the UU Hacktivists, <%= @signup.name %>!</p>
    <p>Keep an eye out for more emails as we build out the group, and thanks for joining.</p>
    <p>
    Cheers,<br>
    Ben
    </p>
  </body>
</html>
