<div class="row">
  <div class="col-xs-12">
    <h1>Join the UU Hacktivists' Mailing List</h1>
    <h3>There are <%= @count %> members thus far.</h3>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-6">
    <%= render 'form', signup_list: @signup_list %>
  </div>
</div>
