<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p><%= link_to "Project Jorge Home", root_path %> | <%= link_to "First UU Gardening Team", gardens_path %> | <%= link_to "First UU Parent's Resources", parents_resources_path %> | <%= link_to("First UU Hacktivists", signup_lists_path) %></p>
    </div>
  </div>
</div>
