<div class="row">
  <div class="col-xs-12 text-right">
    <p class="no-margin">( <%= link_to "view photos", gardens_path %> | <strong>view list</strong> )</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
    <% @gardens.each do |garden| %>
      <%= render("garden_info", garden: garden) %>
    <% end %>
  </div>
</div>
