<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to Project Jorge</h1>
    <p>A 30 year project to end poverty and protect the environment in Houston.</p>
    <h2>Our Missions</h2>
    <ul>
      <li><%= link_to("First UU Garden Team", gardens_path) %></li>
    </ul>
  </div>
</div>
