// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

.no-margin {
  margin: 0px;
}

.bottom-margin-10 {
  margin-bottom: 10px;
}

.top-margin-10 {
  margin-top: 10px;
}

.bottom-margin-0 {
  margin-bottom: 0px;
}

.garden-report {
  margin: 10px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.7);
  padding: 5px;
}

.garden-report a {
  text-decoration: none;
}

.garden-report a:hover {
  text-decoration: none;
}

.garden-report-text {
  color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.auto-height-photo {
  width: 100%;
  height: auto;
}

.auto-width-photo {
  height: 300px;
  width: auto;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0px;
}
