<div class="row">
  <div class="col-xs-12">
    <h1>New Garden Report</h1>
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <%= render 'form', report: @report, gardens: @gardens, url: new_garden_report_path, method: "POST" %>
  </div>
</div>
